@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    --mainColor: #FF3D54;
    --mainColor2: #fff;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Utilities */

ul{
    list-style-type: none;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/* Header */

header{
    height: 100vh;
    border-bottom-left-radius: 8rem;
    background: url(images/bg-pattern-intro.svg);
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    background-color: var(--mainColor);
}

header .container{
    position: relative;
}

header .container nav{
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
}

header .container nav > h3{
    font-size: 3rem;
    font-family: "Ubuntu", sans-serif;
    color: var(--mainColor2);
    margin-bottom: 10px;
}

header .container nav .website-nav{
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 3.2rem;
}

header .container nav .website-nav li{
    margin-right: 1.6rem;
    position: relative;
}

header .container nav .website-nav li img{
    transition: .5s;
}

header .container nav .website-nav li:hover img{
    transform: rotate(-180deg);
}

header .container nav .website-nav li a{
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--mainColor2);
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 3px;
    margin-right: 7px;
    font-family: "Ubuntu", sans-serif;
}

header .container nav .website-nav li a:hover::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: var(--mainColor2);
}

/* Drop-menu */

header .container nav .website-nav li .drop-menu{
   position: absolute;
   left: 0;
   top: 1rem;
   background-color: blue;
   margin-top: 7px;
   padding: 20px;
   border-radius: 5px; 
   background: hsl(0, 0%, 100%);
   box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.4);
   display: none;
}

header .container nav .website-nav li:hover .drop-menu{
    display: inline-flex;
    flex-direction: column;
}

header .container nav .website-nav li .drop-menu li{
    margin: 0 0 10px;
    display: block;
}

header .container nav .website-nav li .drop-menu li:last-child{
    margin-bottom: 0;
}

header .container nav .website-nav li .drop-menu li a{
    margin: 0;
    padding: 0;
    color: #0000006e;
    font-size: 1rem;
    font-weight: 500;
}

header .container nav .website-nav li .drop-menu li a:hover{
    color: #000;
}

header .container nav .register{
    display: flex;
    align-items: center;
}

header .container nav .register li{
    margin-left: 20px;
}

header .container nav .register li a{
    font-size: 1.1rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--mainColor2);
    letter-spacing: 1px;
    font-family: "Ubuntu", sans-serif;
    display: inline-block;
}

header .container nav .register li:nth-child(1) a:hover{
    color: #eee;
}

header .container nav .register li:nth-child(2) a{
    padding: 0.7rem 2rem;
    color: var(--mainColor);
    background-color: var(--mainColor2);
    border-radius: 20px;
    transition: .3s;
}

header .container nav .register li:nth-child(2) a:hover{
    transform: scale(0.9);
}

header .container nav #mobile-menu{
    display: none;
}


header .container .header-content{
    position: relative;
    bottom: -170px;
    text-align: center;
    font-family: "Overpass", sans-serif;
    color: var(--mainColor2);
}

header .container .header-content h3{
    font-size: 3.5rem;
}

header .container .header-content p{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

header .container .header-content .header-content--anchors{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container .header-content .header-content--anchors li{
    margin-left: 1rem;
}

header .container .header-content .header-content--anchors li:nth-child(1){
    margin-left: 0;
}

header .container .header-content .header-content--anchors li a{
    display: inline-block;
    text-decoration: none;
    padding: 0.7rem 1.5rem;
    font-weight: 700;
    border-radius: 30px;
    transition: .3s;
}

header .container .header-content .header-content--anchors li:nth-child(1) a{
    color: var(--mainColor);
    background-color: var(--mainColor2);
}

header .container .header-content .header-content--anchors li:nth-child(1):hover a{
    transform: scale(0.9);
}

header .container .header-content .header-content--anchors li:nth-child(2) a{
    background-color: transparent;
    color: var(--mainColor2);
    border: 1px solid var(--mainColor2);
}

header .container .header-content .header-content--anchors li:nth-child(2):hover a{
    background-color: var(--mainColor2);
    color: var(--mainColor);
}

header .container .mobile-nav{
    display: none;
}

/* Design section */

.design{
    padding: 100px 0 50px;
    min-height: 100vh;
    position: relative;
}

.design > h3{
    font-size: 3rem;
    text-align: center;
    font-family: "Overpass", sans-serif;
}

.design .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

.design .container > img{
    width: 65%;
    height: 100%;
    position: absolute;
    right: -350px;
}

.design .container .design-content{
    margin-left: 10%;
    flex-basis: 45%;
}

.design .container .design-content div:nth-child(1){
    margin-bottom: 50px;
}

.design .container .design-content div h3{
    font-size: 2.2rem;
    font-family: "Overpass", sans-serif;
    margin-bottom: 1rem;
}

.design .container .design-content div p{
    font-size: 1.1rem;
    font-family: "Overpass", sans-serif;
}

/* Infrastructure section*/

.infrastructure{
    background-color: #2C2D3F;
    height: 450px;
    border-top-right-radius: 8rem;
    border-bottom-left-radius: 8rem;
    overflow: hidden;
}

.infrastructure .container{
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.infrastructure .container .infrastructure-imgs{
    position: absolute;
    left: -60px;
    bottom: -110px;
    z-index: 1;
    width: 600px;
    height: 600px;
}

.infrastructure .container .infrastructure-imgs img:nth-child(2){
    position: relative;
    top: -175%;
    left: -50%;
    z-index: -1;
}

.infrastructure .container .infrastructure-content{
    color: var(--mainColor2);
    position: absolute;
    width: 50%;
    right: 0;
    font-family: "Overpass", sans-serif;
}

.infrastructure .container .infrastructure-content h3{
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.infrastructure .container .infrastructure-content p{
    font-size: 1.1rem;
    line-height: 30px;
}

/* Features Section */

.features{
    padding: 100px 0;
}

.features .container{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.features .container .features-imgs img:nth-child(1){
    position: relative;
    left: -250px;
}

.features .container .features-imgs img:nth-child(2){
    display: none;
}

.features .container .features-content{
    position: absolute;
    width: 42%;
    right: 10%;
}

.features .container .features-content div:nth-child(1){
    margin-bottom: 30px;
}

.features .container .features-content div h3{
    font-size: 2.5rem;
    margin-bottom: 5px;
    font-family: "Overpass", sans-serif;
}

.features .container .features-content div p{
    font-size: 1rem;
    font-family: "Overpass", sans-serif;
    line-height: 30px;
}

/* Footer */

footer{
    background-color: #2C2D3F;
    color: var(--mainColor2);
    padding: 50px 0;
    border-top-right-radius: 8rem;
}

footer .container > p{
    text-align: center;
    margin-top: 50px;
    font-family: "Overpass", sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

footer .container > p span{
    color: #FF3D54;
}

footer .container .footer-nav{
    display: flex;
    justify-content: space-around;
}

footer .container .footer-nav > h3{
    font-size: 2.3rem;
    letter-spacing: 1px;
    font-family: "Overpass", sans-serif;
}

footer .container .footer-nav div h6{
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-family: "Overpass", sans-serif;
    margin-bottom: 25px;
}

footer .container .footer-nav div ul{
    line-height: 35px;
}

footer .container .footer-nav div ul li a{
    color: #ffffff8a;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-family: "Overpass", sans-serif;
    text-decoration: none;
}

footer .container .footer-nav div ul li a:hover{
    color: var(--mainColor2);
}

/* Mobile phones */

@media (min-width: 250px) and (max-width: 767px){
    /* Header */

    header{
        height: fit-content;
        padding-bottom: 50px;
    }

    header .container{
        height: 100%;
    }

    header .container nav .website-nav,
    header .container nav .register{
        display: none;
    }

    header .container nav > h3{
        flex: 1;
    }

    header .container nav #mobile-menu{
        display: block;
        cursor: pointer;
    }

    header .container .header-content{
        position: static;
    }

    header .container .mobile-nav{
        display: block;
        background-color: var(--mainColor2);
        width: 100%;
        height: fit-content;
        position: absolute;
        top: 100px;
        padding: 20px 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgb(65, 65, 65);
        text-align: center;
        z-index: 100;
        transition: 0.5s ease-out;
    }

    header .container .mobile-nav .mobile-nav--list .mobile-nav--list---li{
        margin-bottom: 25px;
    }

    header .container .mobile-nav .mobile-nav--list .mobile-nav--list---li .mobile-nav--list---li----list{
        display: none;
        text-align: center;
        line-height: 40px;
        width: 100%;
        background-color: rgb(236, 236, 236);
        padding: 5px;
        border-radius: 10px;
    }

    header .container .mobile-nav .mobile-nav--list .mobile-nav--list---li .mobile-nav--list---li----list li a{
        text-decoration: none;
        display: inline-block;
        text-decoration: none;
        color: #0000006b;
        font-size: 1.2rem;
        font-family: "Ubuntu", sans-serif;
        font-weight: 500;
    }

    header .container .mobile-nav .mobile-nav--list .mobile-nav--list---li .mobile-nav--list---li----list li a:hover{
        color: #000;
    }

    header .container .mobile-nav .mobile-nav--list .mobile-nav--list---li > a{
        display: inline-block;
        text-decoration: none;
        color: #000;
        font-size: 1.2rem;
        font-family: "Ubuntu", sans-serif;
        font-weight: 500;
    }

    header .container .mobile-nav .mobile-nav--list .mobile-nav--list---li:hover .mobile-nav--list---li----list{
        display: block;
    }

    header .container .mobile-nav .mobile-nav--list .mobile-nav--list---li img{
        transition: 0.5s;
    }
    
    header .container .mobile-nav .mobile-nav--list .mobile-nav--list---li:hover img{
        transform: rotate(-180deg);
    }

    header .container .mobile-nav .mobile-nav--list .mobile-nav--list---li > a:nth-child(1),
    header .container .mobile-nav .mobile-nav--list .mobile-nav--list---li > a:nth-child(2),
    header .container .mobile-nav .mobile-nav--list .mobile-nav--list---li > a:nth-child(3){
        margin-right: 8px;
        cursor: default;
    }

    header .container .mobile-nav .login li:nth-child(1){
        margin-bottom: 20px;
    }

    header .container .mobile-nav .login li a{
        display: inline-block;
        text-decoration: none;
        font-size: 1.2rem;
        font-family: "Ubuntu", sans-serif;
        font-weight: 500;
        padding: 10px 30px;
        color: var(--mainColor2);
        border-radius: 30px;
        background: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    }

    header .container .mobile-nav .login li a:hover{
        background: linear-gradient(90deg, hsl(353, 100%, 62%), hsl(13, 100%, 72%));
    }

    /* Design Section */

    .design{
        padding: 50px 0;
        height: fit-content;
    }
    
    .design > h3{
        font-size: 2.2rem;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    
    .design .container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .design .container > img{
        width: 80%;
        height: 50%;
        position: static;
    }
    
    .design .container .design-content{
        width: 80%;
        text-align: center;
        margin-left: 0;
        margin-bottom: 20px;
    }
    
    .design .container .design-content div:nth-child(1){
        margin-bottom: 50px;
    }
    
    .design .container .design-content div h3{
        font-size: 2rem;
    }

    /* Infrastructure section*/

    .infrastructure{
        height: fit-content;
        padding-bottom: 50px;
    }

    .infrastructure .container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .infrastructure .container .infrastructure-imgs{
        position: static;
        width: 80%;
        height: 80%;
    }

    .infrastructure .container .infrastructure-imgs img:nth-child(1){
        width: 100%;
        height: 100%;
    }

    .infrastructure .container .infrastructure-imgs img:nth-child(2){
        display: none;
    }

    .infrastructure .container .infrastructure-content{
        position: static;
        width: 100%;
        text-align: center;
    }

    .infrastructure .container .infrastructure-content h3{
        font-size: 2rem;
    }

    /* Features Section */

    .features{
        padding: 10px 0 50px;
    }

    .features .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .features .container .features-imgs{
        width: 100%;
    }

    .features .container .features-imgs img:nth-child(1){
        display: none;
    }

    .features .container .features-imgs img:nth-child(2){
        width: 100%;
        display: block;
    }

    .features .container .features-content{
        position: static;
        width: 80%;
        text-align: center;
    }

    /* Footer */

    footer .container .footer-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .container .footer-nav > h3{
        margin-bottom: 30px;
    }

    footer .container .footer-nav div{
        margin-bottom: 30px;
    }

    footer .container .footer-nav div h6{ 
        margin-bottom: 25px;
        text-align: center;
    }

    footer .container .footer-nav div ul{
        text-align: center;
    }
}